body{
    padding: 0;
    margin: 0;
    font-family: "Exo", sans-serif;
}
/*nav bar stuff*/
.navbar{ background:rgb(20, 20, 20);
    height: 8%;
}
.navbar-brand{
    margin-left: 150px;/*pushes the logo from the left*/
}

.navbar-brand:hover{ background: rgba(252, 248, 248, 0.87); color: rgb(20, 20, 20)  }

/*this is the box holding the logo and associated text*/

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}/*brings the hand sign up to indicate an active link,with the set colour*/

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: rgba(252, 248, 248, 0.87); color: rgb(20, 20, 20) }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:rgb(20, 20, 20); color: rgba(252, 248, 248, 0.87) !important;}/*styles the drop down menu that appears at smaller view ports*/

.items{
    padding-right: 30px; /*pushes things in from the right*/
    font-size: 20px;
}

/*Footer*/
.footer{
    background-color: black;   
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    
}

.soc-med i {/* style the social media icons*/
    padding: 30px;
    padding-top: 20px;
    font-size: 30px;
    color: rgba(252, 248, 248, 0.87);
}

/*Home page*/


.left-side, .right-side{
    height: 100vh;
    width: 100%;    
}

.left-side img, 
.right-side img{ 
    width: 100%;
    height:100%;
}
 

.carousel-caption {  /* this affects how the captions look ontop of the images*/
  position: absolute;
  right: 15%;
  bottom: 50%;
  left: 15%;  
  color: rgba(252, 248, 248, 0.87);
  font-size: 20px;
}

.tt-caption{
    color: black;
}

.carousel-caption i{ /* changes the size of the icons that sit with the captions*/
    font-size: 30px;
}

/* Reviews*/

.rev-box{ /* for the reviews pages*/
    height: 80vh;
    width: 100%;    
}




.rev-box img{ 
    width: 100%;
    height:100%;
}

.rev-caption {  /* this affects how the read more button looks*/
  position: absolute;
  right: 50%;
  bottom: 15%;  
  color: rgba(252, 248, 248, 0.87);
  font-size: 20px;
  border: 2px white solid;
  background-color: rgba(103, 106, 110, 0.459);
  width: 10rem;
}
.rev-intro {  /* this affects how the introductory textbox and text look*/
  position: absolute;
  left: 10%;
  right: 15%;
  bottom: 30%;  
  color: rgba(252, 248, 248, 0.87);
  font-size: 20px;
  border: none;
  background-color: rgba(103, 106, 110, 0.13);
  width: 80vw;
  height: 40%;   
 overflow: hidden;
 text-overflow: ellipsis;
}
/*Crusader Kings 2 review*/
.rev-ck-two-about{/*contains the form group*/
    height:100vh;
    width:100%;
    background-image: url(https://i.imgur.com/kcCnsQB.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.rev-ck-two-text-form{ /*this is the text area*/
    position: absolute;  
    top: 0;  
    left: 0;    
    height:85vh;
    width:100%;
    margin-top: 5%;
    background-color: rgba(145, 139, 139, 0.466);
    color: white;
    overflow: scroll;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}
/*About*/

/* Use the same format for the individual review pages*/

.about{/*contains the form group*/
    height:100vh;
    width:100%;
    background-image: url(https://i.imgur.com/utzjzrR.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.text-form{ /*this is the text area*/
    position: absolute;  
    top: 0;  
    left: 0;    
    height:85vh;
    width:100%;
    margin-top: 5%;
    background-color: rgba(252, 248, 248, 0.438);
    color: black;
    overflow: scroll;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

.form-group img{
    height:100%;
    width: 100%;
}

.about{
    height: 100vh;
    width: 100%;
}
.about img{ 
    width: 100%;
    height:100%;
}
    /*Contact page*/

    input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 2px solid rgb(27, 26, 26); 
  border-radius: 10px; 
  box-sizing: border-box; 
  resize: vertical 
}

/* Style the submit button */
input[type=submit] {
  background-color: rgb(39, 49, 39);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;  
  cursor: pointer;
  }

/*inverted the colour from the normal button*/
input[type=submit]:hover {
  background-color: white;
  color: rgb(39, 49, 39);
}

#contact-background{/*background image for contact form*/
    height: 100vh;
    width: 100%;
    background-image: url(https://i.imgur.com/t3tqAN7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#contact-form { /* this holds the text fields and buttons*/
  border-radius: 5px;
  background-color: rgba(252, 248, 248, 0.438);
  padding: 20px;
  height:65vh;
  width: 80%;
  border: 2px solid rgb(27, 26, 26); 
  position: absolute;
  top: 2%;
  left: 15%;
  margin-top: 10%;    
  text-align: center;
}

.thank-you{
    height: 100vh;
    width:100%
}

.thank-you img{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px){
    .left-side, .right-side, .rev-box{/* makes the two images stack ontop of each other instead of side by side*/
    height: 50vh;
    width: 100%;
    }

    .navbar, .navbar-toggler, .footer{ background:#773415;}/* changes colours of header and footer*/

    .navbar-brand p{/*removes the tag line "reviews by gamers..."*/
        display: none;
    }

    .rev-intro{ /*makes the intro box slightly larger on smaller viewports*/
        height: 50%; 
    }

    #contact-form{
        left: 10%;
        top: 10%;
    }

    
    
}