body{
    padding: 0;
    margin: 0;
    font-family: "Exo", sans-serif;
}

a {
    color: inherit;
}
/*nav bar stuff*/
.navbar{ 
    background:rgb(20, 20, 20);       
}
.navbar-brand{
    margin-left: 150px;/*pushes the logo from the left*/
}

.navbar-brand:hover{ background: rgba(252, 248, 248, 0.87); color: rgb(20, 20, 20)  }

/*this is the box holding the logo and associated text*/

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}/*brings the hand sign up to indicate an active link,with the set colour*/

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: rgba(252, 248, 248, 0.87); color: rgb(20, 20, 20) }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:rgb(20, 20, 20); color: rgba(252, 248, 248, 0.87) !important;}/*styles the drop down menu that appears at smaller view ports*/

.items{
    padding-right: 30px; /*pushes things in from the right*/
    font-size: 25px;
    padding: 5px;
}

/*Footer*/
.footer{
    background-color: black;   
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;    
}

.soc-med i {/* style the social media icons*/
    padding: 30px;
    padding-top: 20px;
    font-size: 30px;
    color: rgba(252, 248, 248, 0.87);
}


/* navigational aid buttons*/

/* scroll to top button*/
.scroll-top {  /* this affects how the scroll to top button looks*/
  position: fixed;
  left: 93%;  
  bottom: 7%;  
  color: rgba(252, 248, 248, 0.87);
  font-size: 40px;
  border: 2px white solid;
  background-color: rgba(20, 20, 20, 0.027);
  width: 6rem;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

/* this button links to digital + tabletop reviews*/
.to-digital-reviews-button, .to-tabletop-reviews-button {  /* this affects how the go to review buttons look*/
  position: fixed;
  left: 10%;  
  bottom: 20%;  
  color: rgba(252, 248, 248, 0.87);
  font-size: 45px;
  border: 2px white solid;
  background-color: rgba(20, 20, 20, 0.014);
  width: 15rem;
  height: 15rem;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}
/* this button links to tabletop reviews*/
.to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
   left: 75%;  
}


/*Home page*/

.left-side, .right-side{
    height: 100vh;
    width: 100%;    
}

.left-side img, 
.right-side img{ 
    width: 100%;
    height:100%;
}
 

.carousel-caption {  /* this affects how the captions look ontop of the images*/
  position: absolute;
  right: 15%;
  bottom: 50%;
  left: 15%;  
  color: rgba(252, 248, 248, 0.87);
  font-size: 30px;
}


.tt-caption{
    color: white;
}

.carousel-caption i{ /* changes the size of the icons that sit with the captions*/
    font-size: 30px;
}

/* Reviews pages*/


.placeholder-rev-box {/* this is used for the placeholder and about pages*/
    height: 95vh;
    width: 100%;   
}

.placeholder-rev-box img{ /* this is used for the placeholder and about pages*/
    width: 100%;
    height:100%;
}

.placeholder-rev-box-text, .about-rev-box-text {  /* this affects the text for the placeholder review pages*/
  position: absolute;
  top: 10%;
  left: 10%;
  right: 15%;
  bottom: 10%;  
  color: rgb(252, 248, 248);
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: rgba(103, 106, 110, 0.055);
  width: 80vw;
  height: 80%;   
 overflow-x: hidden;
 text-overflow: ellipsis;
 text-align: left;
}

.about-rev-box-text{ /* this affects the text for the about page*/
  left: 15%; 
  width: 70vw;
}
  

.rev-box{ /* for the reviews pages*/
    height: 70vh;
    width: 100%;    
}

.rev-box img{ 
    width: 100%;
    height:100%;
}

.main-review-image{ /* this makes the images used darker, so the accompanying text is more visible. 
    This can be adjusted - e.g. if the image is already dark - by duplicating the class for the image in question*/
    filter: brightness(60%);
}

.rev-caption {  /* this affects how the read more button looks*/
  position: absolute;
  top: 80%;
  left: 45%;
  bottom: 20%;  
  color: rgba(252, 248, 248, 0.87);
  font-size: 20px;
  border: 2px white solid;
  background-color: rgba(20, 20, 20, 0.014);
  width: 15rem;
  height: 3rem;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}

.rev-caption:hover{/*styles the hover effect on the read me button*/
    color: rgba(10, 10, 10, 0.808);
    background-color:rgba(252, 248, 248, 0.904) ;
}

.rev-intro {  /* this affects how the introductory textbox and text look*/
    /* this is based on the placeholder-review-text-box*/
     position: absolute;
    top: 35%;
    left: 10%;
    right: 15%;
    bottom: 20%;
    color: rgb(252, 248, 248);
    font-size: 25px;
    font-weight: 500;
    border: none;
    background-color: rgba(103, 106, 110, 0.055);
    width: 80vw;
    height: 30%;
    overflow: auto;
    text-overflow: ellipsis;
    text-align: left;
 }



.rev-title{ /* this is the title for each review, in digital and tabletop pages*/
position: absolute;
  margin-left:auto;
  margin-right: auto;
  top: 12%;  
  color: rgba(252, 248, 248, 0.897);
  font-size: 30px;
  border: none;
  background-color: rgba(103, 106, 110, 0.05);
  width: 15rem;
  text-align: center;  
}

.rev-text-form{ /*this is the text area for individual reviews*/
    position: absolute;  
    top: 0;  
    left: 10%;  
    right: 10%;  
    height:100vh;
    width:80%;
    margin-top: 0%;
    background-color: rgba(145, 139, 139, 0.144);
    color: rgb(250, 246, 246);
    overflow: scroll;
    padding-top: 15%;
    padding-left: 0%;
    padding-right: 2%;
    padding-bottom: 10%;
    font-size: 20px;
}

/*Crusader Kings 2 review*/
.rev-ck-two-about{/*uses the form group format*/
    height:100vh;
    width:100%;
    background-image: url(https://i.imgur.com/HgYLcw0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%);
}

/*this is the image used in the full CK2 review, styled to keep a consistent width*/
.rev-image {
    max-width: 100%;
}

.to-digital-reviews-button-CK2  {  
/* this adjusts the go to digital review button on the CK2 review page*/
 position: fixed;
  left: 93%;  
  top:13%;  
  color: rgba(252, 248, 248, 0.87);
  font-size: 20px;
  border: 2px white solid;
  background-color: rgba(20, 20, 20, 0.027);
  width: 6rem;
  height:6rem;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}


/*Troy Total war review*/
.rev-troy-tw-about{/*contains the form group*/
    height:100vh;
    width:100%;
    background-image: url(https://i.imgur.com/CMRnvms.jpg?1);
    background-size: cover;
    background-repeat: no-repeat;
}



    /*Contact page*/

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 2px solid rgb(27, 26, 26); 
  border-radius: 10px; 
  box-sizing: border-box; 
  resize: vertical 
}



/* Style the submit button */
input[type=submit] {
  background-color: rgb(39, 49, 39);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;  
  cursor: pointer;
  }

/*inverted the colour from the normal button*/
input[type=submit]:hover {
  background-color: white;
  color: rgb(39, 49, 39);
}

#contact-background{/*background image for contact form*/
    height: 100vh;
    width: 100%;
    background-image: url(https://i.imgur.com/t3tqAN7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 20px;
    font-weight: 300;
}

#contact-form { /* this holds the text fields and buttons*/
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 20px;
  height:65vh;
  width: 80%;
  border: 2px solid rgb(27, 26, 26); 
  position: absolute;
  top: 2%;
  left: 15%;
  margin-top: 10%;    
  text-align: center;
}

.thank-you{
    height: 100vh;
    width:100%
}

.thank-you img{
    height: 100%;
    width: 100%;
}

/* media screen queries*/

@media only screen and (max-width: 1024px)/*iPad Pro*/{
    .navbar-brand{
    margin-left: 50px; /*pushes the logo from the left*/
    }

   .to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
   left: 70%;  
    }

    #contact-form{
        left: 10%;
        top: 10%;
    }

    .scroll-top {  /* this affects how the scroll to top button looks*/
        left: 88%;  
        width: 6rem; 
        height: 6rem;
        font-size: 50px; 
    }

    .scroll-top p {/*this removes the word top from the scroll up button*/
        display:none;
    }

    .to-digital-reviews-button-CK2{ /* this adjusts the go to digital review button on the CK2 review page*/
        left: 88%;
        font-size: 50px;
    }

    .to-digital-reviews-button-CK2 p{/*this removes the text from this button*/
        display: none
    }

    .rev-text-form{ /*this is the text area for individual reviews*/
    padding-right: 3%;
    }
   
}

@media only screen and (max-width: 768px) /*iPad*/{
    .left-side, .right-side, .rev-box {/* makes the two images stack ontop of each other instead of side by side*/
        height: 60vh;
        width: 100%;
    }

    .navbar, .navbar-toggler, .footer { background:rgb(131, 48, 37);}
    /* changes colours of header, footer, read more, scroll to and go to buttons*/

    .navbar-brand p{/*removes the tag line "reviews by gamers..."*/
        display: none;
    }

    .rev-intro{ /*makes the intro box slightly larger on smaller viewports*/
        height: 50%; 
        font-size: 18px;
    }

    #contact-form{
        left: 10%;
        top: 10%;
    }

    
    .rev-caption{ /*shifts the read more button left on smaller viewports*/
        left: 40%;
        width: 10rem;
   }

    .to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
        left: 60%;  
    }

     .scroll-top, .to-digital-reviews-button-CK2  {  /* this affects how these buttons look*/
        left: 91%;  
        width: 4rem; 
        height: 4rem;
        font-size: 30px; 
    }
}
       
@media only screen and (max-width: 540px) /*Surface Duo*/{
   
    .to-digital-reviews-button, .to-tabletop-reviews-button {  /* this affects how the go to review buttons look*/
        left: 7%;  
        bottom: 15%;  
        width: 14rem;
        height: 5rem;
        font-size: 20px;
      
    }
    .to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
        left: 55%;  
    }

    .rev-caption{
        left: 35%; /*shifts the read more button left on smaller viewports*/
        width: 10rem; /*adjust the width of the read more button on smaller viewports*/
        height: 2rem; /*adjust the height of the read more button on smaller viewports*/
   }

    .rev-intro{ /*makes the intro box slightly larger on smaller viewports*/
        height: 40%; 
    }

    .scroll-top, .to-digital-reviews-button-CK2  {  /* this affects how these buttons look*/
        left: 90%;  
        width: 3rem; 
        height: 3rem;
        font-size: 30px; 
    }

    .soc-med i {/* style the social media icons*/
        padding-top: 10px; 
    } 
    
}

@media only screen and (max-width:414px) /*iPhone 6/7/8 +* and Pixel2, Pixel2XL*/{

    .scroll-top, .to-digital-reviews-button-CK2  {  /* this affects how these buttons look*/
        left: 88%;  
        width: 3rem; 
        height: 3rem;
        font-size: 30px; 
    }

    .to-digital-reviews-button, .to-tabletop-reviews-button {  /* this affects how the go to review buttons look*/
        left: 6%;  
        bottom: 14%;  
        width: 11rem;
        height: 4rem;
        font-size: 15px;
      
    }

    .to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
        left: 53%;  
    }

    .soc-med i {/* style the social media icons*/
    padding: 20px;
    }

}
@media only screen and (max-width: 375px) /*iPhone 6/7/8*/{

    .rev-title-header{
        font-size: 20px;
    }

    .scroll-top, .to-digital-reviews-button-CK2  {  /* this affects how these buttons look*/
        left: 86%;  
    }

    .rev-text-form{ /*this is the text area for individual reviews*/
        width: 75%;
        left:12%;
    }

    .rev-caption{
        left: 30%; /*shifts the read more button left on smaller viewports*/
    }

    .to-digital-reviews-button, .to-tabletop-reviews-button {  /* this affects how the go to review buttons look*/
        left: 5%;  
        bottom: 10%;  
        width: 10rem;
        height: 2.8rem;
        font-size: 15px;      
    }

    .to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
        left: 52%;  
    }
}

@media only screen and (max-width: 360px) /*MotoG4, Galaxy S5*/{
    .rev-title-header{
        font-size: 20px;
    }
    
    .rev-caption{
        width: 10rem; /*adjust the width of the read more button on smaller viewports*/
        left:30%; /*adjust the width of the read more button on smaller viewports*/
        height: 2rem; /*adjust the height of the read more button on smaller viewports*/
   }

   .to-digital-reviews-button, .to-tabletop-reviews-button {  /* this affects how the go to review buttons look*/
        left: 10%;  
        bottom: 10%;  
        width: 3rem;
        height: 3rem;
        font-size: 25px;      
    }

    .to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
        left: 80%;  
    }

    .to-digital-reviews-button p, .to-tabletop-reviews-button   p{
        display: none;
    }

    .placeholder-rev-box-text{
        width: 80vw;
        height: 70%;   
    }

    .soc-med i {/* style the social media icons*/
    padding: 12px;
    padding-top: 7px;
    font-size: 30px;
    color: rgba(252, 248, 248, 0.87);
    }
}

@media only screen and (max-width: 320px) /*iPhone 5/SE*/{
    
    .rev-caption{
        left:25%; /*adjusts positioning*/
    }

     .scroll-top, .to-digital-reviews-button-CK2  {  /* this affects how these buttons look*/
        left: 85%;  
    }

    .to-digital-reviews-button-CK2{ /*adjusts the go to digital button on the ck2 review page*/
        top: 10%;
    }

    .to-digital-reviews-button, .to-tabletop-reviews-button {  /* this affects how the go to review buttons look*/
        left: 10%;  
        bottom: 7%;  
        width: 3rem;
        height: 3rem;
        font-size: 25px;      
    }

    .to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
        left: 80%;  
    }

    .placeholder-rev-box-text{
        font-size: 18px; 
    }

    
}
    

@media only screen and (max-width: 280px)/*Galaxy Fold*/{
    .carousel-caption { 
         /*adjusts the positioning of the carousel caption text on small view ports*/
        position: absolute;
        top: 40%;
        right: 15%;
        bottom: 40%;
        left: 15%;  
        color: rgba(252, 248, 248, 0.87);
        font-size: 30px;
    }
      .to-digital-reviews-button, .to-tabletop-reviews-button {  /* this affects how the go to review buttons look*/
        width: 2.5rem;
        height: 2.5rem;
        font-size: 25px;      
    }

    .to-tabletop-reviews-button {  /* this affects how the go to tabletop button looks*/
        left: 80%;  
    }

    .placeholder-rev-box-text{
        width: 80vw;
        height: 68%;   
    }

    .rev-caption{/*adjusts the width of the read more button*/
        width: 8rem;
        font-size: 15px;
    }
    .rev-intro{
        font-size: 20px;
    }

    .scroll-top, .to-digital-reviews-button-CK2  {  /* this affects how these buttons look*/
        left: 83%;  
    }

    .to-digital-reviews-button-CK2{ /*adjusts the go to digital button on the ck2 review page*/
        top: 15%;
    }

    .rev-text-form{ /*this is the text area for individual reviews*/
        padding-right: 5%;
    }   
    
}